@model SaleInvoicesApp.Models.SalesStaff

<style>
    body {
        background-image: url("Images/homepage.jpg");
        background-size: cover;
        color:#fff;
    }

    .container {
        color: #fff !important
    }
</style>
<div class="pag" style="margin:200px 50px 50px 250px">
<h1>
    Welcome to our website
</h1>
</div>